:root {
  --width-layout: 95%;
  --width-layoutCart: 80%;
}

.cartBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
  padding: 10px;
}

.layoutCart {
  position: relative;
  width: var(--width-layoutCart);
  height: 95%;
  padding: 20px;
  overflow: auto;
  background-color: yellow;
}

.full {
  background-color: teal;
  width: var(--width-layoutCart);
  height: 10%;
}

.contador {
  background-color: blueviolet;
}

#quantItem {
  width: 100px;
  background-color: violet;
  font-size: 20px;
  padding: 5px;
}

.contador button {
  margin: 5px;
  padding: 5px;
}

.itemCart {
  display: flex;
  margin: 5px 0;
}

.linkShop {
  position: absolute;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 2px;
}

.item {
  width: 100%;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}